body {
    background-color: #bbf1ef;
    font-family: 'Verdana', 'Apple SD Gothic Neo', 'NanumGothic', sans-serif;
    text-align: center;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #ff9a9e;
    color: white;
    width: 300px;
    height: 50px;
    margin: 10px auto;
    line-height: 50px;
    font-weight: bold;
    border-radius: 8px;
}
img{
    border-radius: 100px;
    
}

h3 {
    border: 3px solid white;
    width: 300px;
    height: auto;
    margin: 20px auto;
    border-radius: 30px;
}
a{
    text-decoration: none;
    color: white;
    background-color: #ff9a9e;
}